body {
    background: aqua;
    font-family: 'Pacifico', cursive;
}
.content{
    display: flex;
}
.group{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #e9e9eb;

}
.group .card{
    margin: 10px;
    width: 300px;
    height: 300px;
    background: #fff;
}
.group .header{
    margin: 5px 10px;
}
.group .footer{
    margin: 5px 10px;
    opacity: 0.5;
}